
body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1440px;
}

.text{
    align-items: center;
    font-size: 150px;
    color: blue;
    text-shadow: 5px 5px 10px rgb(153, 0, 255);
}